{% extends "base.html" %}
{% load static %}
{% block title %}Войти{% endblock %}
{% block content %}
{% load user_filters %}
<head>
    <link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form/style.css' %}">
</head>

<div class="wrapper">
    <div class="inner">
        <div class="card-body">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post"
                    {% if action_url %}
                    action="{% url action_url %}"
                    {% endif %}
            >
                {% csrf_token %}
                <h3>Забыли пароль?</h3>
                <p>Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
                </p>
                {% for field in form %}
                    <div class="form-group row my-3"
                            {% if field.field.required %}
                            aria-required="true"
                            {% else %}
                            aria-required="false"
                            {% endif %}
                    >
                            <div>
                            <div class="form-holder">
                                <span class="{{ field.field.widget.attrs.icon_class }}"></span>
                                {{ field|addclass:'form-control' }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="btns-container">
                    <button type="submit" class="execut-button submit-btn">
                        <span>Сбросить пароль</span>
                    </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}